.sidebar {
  display: grid;
  grid-template-columns: 70px 1fr; /* left buttons, right tab */
  flex: 0 0 100%; /* full width by default (mobile) */
  height: calc(100vh - 93.5px);
  border-right: linear-gradient(180deg, #aaaaaa, #bfbfbf);
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #eaeaea;
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding-left: 0;
  background-color: #000000;
}

.sidebar-btn {
  background: #000000;
  border: 1px solid #555;
  width: 100%;
  height: 15vh;
  min-height: 75px;
  /* padding: 10px; */
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center center;
  padding-left: 0;
  padding-right: 0;
}

.sidebar-btn:hover {
  background: #222;
  border-color: #888;
  color: #ccc;
}

.sidebar-btn.active {
  background: #333;
  border-color: #aaa;
  color: #fff;
  border-left: 3px solid yellow;
}

.sidebar-tab {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  height: 100%;
  min-height: 0;
}

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 6px 6px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #aaaaaa;
  padding: 0px;
  max-height: 28px;
}

.tab-title {
  font-weight: bold;
  color: black;
  /* font-size: 1rem; */
}

.tab-bar-btn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.cat-thumb {
  background: transparent;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.25s ease;
  color: #555;
}

.cat-thumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  /* margin-bottom: 6px; */
}

.cat-thumb:hover {
  color: black;
  background: #ccc;
}

.design-grid {
  display: grid;
  gap: 5px;
  margin-top: 10px;
}

.design-thumb {
  background: transparent;
  /* border: 1px solid #555; */
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.25s ease;
}

.design-thumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
  /* margin-bottom: 6px; */
}

.design-thumb:hover {
  background: #B5B5B5;
}

.design-name {
  font-size: 0.75rem;
  color: #ccc;
  text-align: center;
}

.back-btn:hover {
  background: #555;
}

.size-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.rotation-left {
  font-size: 14px;
  white-space: nowrap; /* ✅ never wrap */
  flex-shrink: 0; /* ✅ never shrink */
  color: black;
}

.size-left {
  font-size: 14px;
  white-space: normal;
  flex-shrink: 0; /* ✅ never shrink */
  color: black;
}

/* RIGHT SIDE GROUP */
.size-right {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0; /* ✅ fixed size */
}

/* INPUTS */
.size-input {
  max-width: 60px; /* ✅ fixed width */
  padding: 4px;
  text-align: center;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid black;
}

.slider {
  -webkit-appearance: none; /* remove default */
  appearance: none;
  height: 3px;
  background: #ccc;
  border-radius: 4px;
  outline: none;
}

/* Chrome, Safari, Edge */
.slider::-webkit-slider-runnable-track {
  height: 3px;
  background: #bbb;
  border-radius: 4px;
}

/* Firefox */
.slider::-moz-range-track {
  height: 3px;
  background: #bbb;
  border-radius: 4px;
}

/* Chrome / Safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #444;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* centers thumb on track */
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #444;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* centers thumb on track */
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.slider::-moz-range-thumb:hover {
  background: #666;
}

/* X symbol */
.size-x {
  font-size: 14px;
  color: #666;
}

/* LOCK BUTTON */
.tab-edit-btn {
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tab-edit-btn .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -30%;
  top: 100%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  white-space: pre-wrap;
  transition: opacity 1s;
  pointer-events: none;
  max-width: 200px; /* allow longer names but cap */
  overflow: hidden;
  /* text-overflow: ellipsis;    */
}

.tab-edit-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* spread groups */
  flex-wrap: wrap;
  width: 100%;
  /* column-gap: 2px; */
  row-gap: 10px;
}

.edit-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* shared group style */
.edit-group {
  display: flex;
}

/* ✅ NO GAP groups (layer + flip) */
.edit-group.no-gap button {
  border-radius: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* first button rounded left */
.edit-group.no-gap button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* last button rounded right */
.edit-group.no-gap button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* remove space between buttons */
.edit-group.no-gap button + button {
  margin-left: -1px; /* prevents border double gap */
}

/* ✅ bottom row spacing */
.edit-group.bottom-row {
  justify-content: space-between;
  gap: 6px;
}

/* buttons styling */
.edit-group button {
  flex: 1;
  height: 36px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.2s;
}

/* hover */
.edit-group button:hover {
  background: #ddd;
}

.edit-group button.active {
  background: #222;
  color: #fff;
}

.edit-group button.active:disabled {
  background: #777;
  color: #000000;
}

/* disabled */
.edit-group button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background: #f5f5f5;
  color: #000000;
}

.crop-actions {
  display: flex;
  justify-content: space-between; /* ✅ left + right */
  align-items: center;
  margin-top: 12px;
  width: 100%;
  min-width: 100%;
}

/* base button */
.panel-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #2c2c2c;
  color: #eee;
}

.panel-btn:hover {
  background-color: #444;
  transform: translateY(-1px);
}

.panel-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  transform: none;
}

.text-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
}

/* textarea */
.text-input {
  width: 100%;
  min-height: 40px;
  max-height: 200px;
  resize: none;
  overflow-y: hidden;
  padding: 8px 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
  text-align: center;
  transition: all 0.2s ease;
}

/* focus state */
.text-input:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 4px rgba(100, 100, 150, 0.3);
}

/* placeholder */
.text-input::placeholder {
  color: #999;
}

/* button */
.text-add-btn {
  align-self: flex-end;

  padding: 6px 14px;

  border: none;
  border-radius: 6px;

  font-size: 13px;

  background-color: #222;
  color: white;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover */
.text-add-btn:hover {
  background-color: #333;
  transform: translateY(-1px);
}

/* disabled */
.text-add-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  transform: none;
}

/* click feel */
.text-add-btn:active {
  transform: scale(0.95);
}

/* button */
.text-update-btn {
  align-self: center;

  padding: 6px 14px;

  border: none;
  border-radius: 6px;

  font-size: 13px;

  background-color: #222;
  color: white;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover */
.text-update-btn:hover {
  background-color: #333;
  transform: translateY(-1px);
}

/* disabled */
.text-update-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
  transform: none;
}

/* click feel */
.text-update-btn:active {
  transform: scale(0.95);
}

.fonts-tab {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.font-search {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 6px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.no-fonts {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.font-preview {
  padding: 0 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.15rem;
  max-width: 190px;
  transition: 0.2s;
}

.font-preview:hover {
  background-color: #bbb;
}

.font-shape-tab {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

/* ✅ grid: 2 per row */
.shape-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

/* ✅ buttons */
.shape-btn {
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.2s;
}

.shape-btn:hover {
  background: #ddd;
}

.shape-btn.active {
  border: 2px solid #444;
  background: #bbb;
}

/* ✅ slider */
.shape-slider-wrapper {
  width: 100%;
}

/* ✅ back */
.shape-back-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #ccc;
  cursor: pointer;
}

.shape-back-btn:hover {
  background: #bbb;
}

.vinyl-colors-tab {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.selected-color-header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  margin-right: 8px;
}

.color-grid-title {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.color-grid {
  display: grid;
  gap: 6px;
  margin-bottom: 15px;
}

.color-swatch {
  width: 100%;
  aspect-ratio: 1 / 1; /* square */
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-swatch:hover {
  border: 2px solid #555;
}

.color-swatch.active {
  transform: scale(1.1);
  border: 2px solid rgb(0, 100, 200);
}

.current-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.current-color-name {
  border: none;
  background: transparent;
  padding-bottom: 0;
  padding-top: 0;
  height: 30px;
  text-align: center;
}

.slider-ticks {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 3;
}

.slider-ticks span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #444;
  transform: translateY(-175%);
}

.upload-zone {
  flex: 1;
  min-height: 0;
  border: 2px dashed #bbb;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.upload-zone.dragging {
  border-color: #1976d2;
  background: #eef6ff;
}

.upload-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.upload-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.upload-actions button.mobile {
  background-color: #CACACA;
}

.upload-actions button:hover {
  background-color: #ccc;
}

.upload-actions button.mobile:hover {
  background-color: #BABABA;
}

.start-tab {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.start-title {
  text-align: center;
  margin-bottom: 8px;
}

.start-card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 12px;

  width: 100%;
  min-height: 90px;

  border: 1px solid #bbb;
  border-radius: 10px;

  background: white;
  cursor: pointer;

  padding: 12px;

  transition: 0.2s;
}

.start-card:hover {
  background: #ccc;
  transform: translateY(-1px);
}

.start-card svg {
  font-size: 34px;
}

.undo-redo-controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  /* border-top: 1px solid #ddd; */
}

.undo-redo-btn {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;
  border-radius: 6px;

  background: white;
  cursor: pointer;

  font-size: 20px;

  transition: 0.15s;
}

.undo-redo-btn:hover:not(:disabled) {
  background: #f0f0f0;
}

.undo-redo-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Responsive rules */
@media (min-width: 600px) {
  .sidebar {
    flex: 0 0 350px; /* tablet width */
    max-width: 350px;
  }

  .color-grid {
    grid-template-columns: repeat(auto-fill, minmax(14%, 1fr));
  }

  .design-grid {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }

  .size-left::before {
    content: "Size \A (W x H)";
    white-space: pre-wrap;
    text-align: center;
  }

  .slider {
    max-width: 100px;
  }
}

@media (min-width: 300px) {
  .size-left::before {
    content: "Size \A (W x H)";
    white-space: pre-wrap;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .sidebar {
    flex: 0 0 390px; /* desktop width */
    max-width: 390px;
  }

  .color-grid {
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  }

  .design-grid {
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  }

  .size-left::before {
    content: "Size (W x H)"; /* ✅ never shrink */
  }

  .slider {
    max-width: 150px;
    min-width: 150px;
  }
}

@media (max-height: 600px) {
  .sidebar-btn {
    font-size: smaller;
  }
}

/* @media (min-width: 1200px) {
  .sidebar {
    flex: 0 0 390px;
    max-width: 390px;
  }

  .design-grid {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  }

  .size-left::before {
    content: "Size (W x H)";
  }

  .slider {
    min-width: 230px;
    max-width: 230px;
  }
} */
