.mobile-designer {
  height: calc(100dvh - 88px);

  display: flex;
  flex-direction: column;
  padding: 0;

  overflow: hidden;
}

.mobile-preview-wrapper {
  flex: 1;

  min-height: 0;
  min-width: 0;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.mobile-preview-wrapper .mobile-preview-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 0;
}

.mobile-preview-image-wrapper .preview-image {
  max-width: 100%;
  max-height: 100%;

  width: auto;
  height: auto;

  object-fit: contain;
}

.mobile-views {
  border-top: 0px solid #ddd;
}

.mobile-bottom-nav-wrapper {
  position: relative;
}

.mobile-bottom-nav-wrapper::before,
.mobile-bottom-nav-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.mobile-bottom-nav-wrapper.show-left-fade::before {
  opacity: 1;
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.mobile-bottom-nav-wrapper.show-right-fade::after {
  opacity: 1;
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.mobile-bottom-nav-wrapper::after {
  right: 0;

  background: linear-gradient(to left, white, transparent);
}

.mobile-bottom-nav {
  height: 85px;
  flex-shrink: 0;

  border-top: 1px solid #ddd;
  padding: 0;

  background: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 9999;

  scrollbar-width: none;
}

.mobile-bottom-nav::-webkit-scrollbar {
  display: none;
}

.mobile-bottom-nav button {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  padding-top: 12px;

  border: none;
  background: transparent;

  min-width: 60px;

  color: #222;

  flex-shrink: 0;
}

.mobile-bottom-nav button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.mobile-bottom-nav i {
  width: 35px;
  height: 35px;

  font-size: 33px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.mobile-bottom-nav img {
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  object-fit: fill;
}

.mobile-bottom-nav span {
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  line-height: 1.1;
  font-size: 14px;
}

.mobile-product-modal {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: calc(100dvh - 88px);

  background: white;

  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  z-index: 10000;
}

.mobile-product-tabbar {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border-bottom: 1px solid #ddd;

  font-weight: 600;
  margin-bottom: 10px;
}

.mobile-product-tabbar .back-btn {
  position: absolute;
  left: 0px;

  border: none;
  background: transparent;
}

.mobile-product-tabbar .close-btn {
  position: absolute;
  right: 10px;

  border: none;
  background: transparent;
}

.mobile-products-row {
  display: flex;

  gap: 8px;

  padding-top: 12px;
  padding-bottom: 6px;

  overflow-x: auto;
}

.mobile-add-product,
.mobile-product-thumb {
  flex: 0 0 auto;

  width: 70px;
  height: 70px;

  border: 1px solid #ccc;
  border-radius: 8px;

  position: relative;
  cursor: pointer;

  transition: 0.2s;
}

.mobile-add-product:hover {
  background-color: #c5c5c5;
}

.mobile-product-thumb:hover {
  transform: scale(1.05);
}

.mobile-product-thumb.active {
  border: 2px solid #007bff;
}

.mobile-product-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.mobile-delete-product {
  position: absolute;

  top: -6px;
  right: -6px;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: none;

  color: white;
}

.mobile-product-name {
  text-align: center;

  font-size: 18px;
  font-weight: 600;

  padding: 12px;
}

.mobile-section {
  padding: 16px;
}

.mobile-action-btn {
  width: 100%;

  padding: 14px;
  margin-bottom: 10px;

  border-radius: 8px;
}

.mobile-action-btn:hover {
  background-color: #c5c5c5;
}

.mobile-product-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));

  gap: 12px;

  padding: 12px;
}

.mobile-product-option {
  display: flex;
  flex-direction: column;

  align-items: center;

  border: 1px solid #ddd;

  border-radius: 8px;

  padding: 8px;

  cursor: pointer;
}

.mobile-product-option.active {
  border: 2px solid #007bff;
}

.mobile-product-option img {
  width: 90px;
  height: 90px;

  object-fit: contain;
}

.mobile-product-search {
  padding: 12px;
}

.mobile-product-search input {
  width: 100%;

  padding: 10px;

  box-sizing: border-box;
}

.mobile-color-grid {
  display: grid;
  gap: 6px;
  margin-bottom: 15px;
  grid-template-columns: repeat(auto-fill, minmax(9%, 1fr));
}

.mobile-color-swatch {
  width: 50%;
  aspect-ratio: 1 / 1; /* square */
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
}

.mobile-color-swatch:disabled {
  cursor: not-allowed;
}

.mobile-color-swatch:hover {
  border: 2px solid #555;
}

.mobile-color-swatch.active {
  transform: scale(1.1);
  border: 2px solid rgb(0, 100, 200);
}

.mobile-designs-header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  gap: 12px;

  padding: 14px 16px;

  background: white;

  border-bottom: 1px solid #e5e5e5;

  z-index: 10;
}

.mobile-designs-header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.mobile-designs-back {
  border: none;
  background: none;

  font-size: 24px;
  cursor: pointer;
}

.mobile-design-grid {
  display: grid;

  grid-template-columns: repeat(2, minmax(0, 1fr));

  gap: 14px;

  padding: 16px;

  overflow-y: auto;
}

@media (min-width: 550px) {
  .mobile-design-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.mobile-design-card {
  background: white;

  border-radius: 14px;

  overflow: hidden;

  border: 1px solid #ececec;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  transition: all 0.2s ease;
}

.mobile-design-card:active {
  transform: scale(0.97);
}

.mobile-upload-sheet {
  position: absolute;

  inset: auto 0 0 0;

  height: 31%;
  max-height: 31%;

  min-height: 200px;

  background: white;

  border-radius: 16px 16px 0 0;

  overflow: hidden;
  z-index: 10000;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;

  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
}

.mobile-text-sheet {
  position: absolute;

  inset: auto 0 0 0;

  height: auto;
  max-height: 280px;

  min-height: 200px;
  overflow-y: auto;

  background: white;

  border-radius: 16px 16px 0 0;

  overflow: hidden;
  z-index: 10000;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 10px;

  box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
}

.mobile-crop-modal {
  position: absolute;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  /* overflow: hidden; */

  background: white;
  z-index: 10000;

  inset: auto 0 0 0;
  width: 100%;
  height: calc(100dvh - 88px);

  background: white;
  /* padding-top: 10px; */

  /* padding: 10px 10px; */
}

.mobile-crop-content {
  flex: 1;

  min-height: 0;

  /* overflow: hidden; */
  padding-top: 10px;
  /* padding-bottom: 20px; */

  /* padding: 8px; */

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.mobile-flip-buttons {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 12px;

  padding: 16px 12px;
}

.mobile-flip-btn {
  width: 110px;
  height: 70px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 4px;

  border: 2px solid #ddd;
  border-radius: 12px;

  background: white;

  cursor: pointer;

  transition: all 0.15s ease;
}

.mobile-flip-btn:hover {
  background-color: #ccc;
}

.mobile-flip-btn i {
  font-size: 24px;
}

.mobile-flip-btn span {
  font-size: 13px;
  font-weight: 500;
}

.mobile-flip-btn.active {
  background: #222;
  color: #fff;
}

.mobile-flip-btn.active i {
  color: white;
}

.mobile-flip-btn.active:disabled {
  background: #777;
  color: #000000;
}

/* disabled */
.mobile-flip-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background: #f5f5f5;
  color: #000000;
}

.mobile-rotation-container {
  padding: 10px;
}

.mobile-rotation-input-row {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 12px;

  margin-bottom: 16px;
}

.mobile-rotation-btn {
  width: 40px;
  height: 40px;

  border: 1px solid #ddd;
  border-radius: 10px;

  background: white;

  font-size: 24px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.mobile-rotation-input {
  width: 90px;
  height: 40px;

  text-align: center;

  border: 1px solid #ddd;
  border-radius: 10px;

  font-size: 18px;
  padding: 4px;
}

.mobile-rotation-input::-webkit-outer-spin-button,
.mobile-rotation-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mobile-rotation-input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mobile-rotation-slider {
  width: 100%;
}

.mobile-color-row-wrapper {
  position: relative;
}

.mobile-color-row {
  display: flex;

  gap: 12px;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 10px 20px;

  scrollbar-width: none;
}

.mobile-color-row::-webkit-scrollbar {
  display: none;
}

.mobile-color-row-wrapper::before,
.mobile-color-row-wrapper::after {
  content: "";

  position: absolute;

  top: 0;
  bottom: 0;

  width: 24px;

  pointer-events: none;

  z-index: 2;
}

.mobile-color-row-wrapper::before {
  left: 0;

  background: linear-gradient(to right, white, transparent);
}

.mobile-color-row-wrapper::after {
  right: 0;

  background: linear-gradient(to left, white, transparent);
}

.mobile-color-swatch {
  flex: 0 0 auto;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  border: 2px solid #ddd;

  transition: all 0.15s ease;
}

.mobile-color-swatch.active {
  transform: scale(1.15);

  border: 3px solid #007bff;

  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.mobile-history-buttons {
  position: fixed;

  top: 100px;
  left: 12px;

  display: flex;
  flex-direction: column;

  gap: 10px;

  z-index: 9999;
}

.mobile-floating-btn,
.mobile-next-btn {
  border: none;

  border-radius: 50%;

  background: rgba(0, 0, 0, 0.2);

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: 0.15s;
}

.mobile-floating-btn:hover,
.mobile-next-btn:hover {
  transform: scale(1.05);
}

.mobile-floating-btn:disabled {
  opacity: 0.35;
  cursor: not-allowed;
  transform: scale(1);
}

.mobile-floating-btn {
  width: 46px;
  height: 46px;
}

.mobile-floating-btn i {
  font-size: 22px;
}

.mobile-next-btn {
  position: fixed;

  right: 18px;
  bottom: 100px;

  width: 64px;
  height: 64px;

  z-index: 9999;

  background: #007bff;
  color: white;
}

.mobile-next-btn i {
  font-size: 28px;
}

.mobile-views-dropdown {
  position: fixed;

  top: 100px;
  right: 12px;

  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mobile-views-panel {
  position: absolute;

  top: 56px;
  right: 0;

  min-width: 140px;

  display: flex;
  flex-direction: column;

  background: white;

  border-radius: 12px;

  overflow: hidden;

  box-shadow:
    0 4px 20px
    rgba(0, 0, 0, 0.15);

  animation:
    mobileViewsOpen
    0.15s ease;
}

.mobile-views-panel button {
  border: none;

  background: white;

  padding: 12px 16px;

  text-align: left;

  cursor: pointer;

  transition: 0.15s;
}

.mobile-views-panel button:hover {
  background: #f5f5f5;
}

.mobile-views-panel button.active {
  background: #007bff;

  color: white;

  font-weight: 600;
}

@keyframes mobileViewsOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
